.description {
    text-align: justify;
}

.description a {
    text-decoration: underline;
}

.transferBalance {
    margin: 0 0 .5rem .25rem;
}

.transferBalance span {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-big);
}

.amount {
    display: grid;
    grid-template-columns: 10rem 1fr 2fr;
    gap: 1.5rem;
    align-items: center;
}

.amount span {
    display: inline-block;
    font-size: var(--font-bigger);
    font-weight: var(--font-weight-bolder);
}

.amount :is(span, small) {
    padding-top: 1rem;
}

/*.message {*/
/*    margin-top: 40px;*/
/*}*/

.messageCheckbox {
    font-size: var(--font-small);
    display: flex;
    justify-content: flex-end;
}

/*.buttons {*/
/*    margin-top: 30px;*/
/*    text-align: center;*/
/*}*/

/*.buttons > *:first-child {*/
/*    margin-right: 50px;*/
/*}*/

/*.feeInfoBox > div {*/
/*    margin-top: -15px;*/
/*}*/

.feeInfoBox,
.feeInfo {
    text-align: center !important;
    background: var(--warning);
    color: white;
    font-size: var(--font-big);
    font-weight: var(--font-weight-bold);
    margin-block: 1rem;
    padding-block: .125rem;
}

.feeInfoBox {
    padding-block: 1.25rem;
}

.feeInfo p {
    font-size: var(--font-small);
    font-weight: var(--font-weight-normal);
    margin-bottom: 0;
}

.transactionSuccess a {
    margin: 10px 0;
    font-size: var(--font-big);
}

.transactionSuccess small {
    display: block;
}

.transactionSuccess small b {
    display: block;
    margin-top: 5px;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid var(--light);
    font-weight: normal;
 }

.pendingPage > div:not(:first-of-type) {
    border-top: 1px solid var(--dark);
    margin: 10px 0;
    padding: 10px 0;
}

.pendingPage > div > b {
    display: inline-block;
    width: 55%;
}

.pendingPage > div > span {
    display: inline-block;
    width: 45%;
    text-align: right;
}

.pendingPage > div > i {
    display: block;
    padding: 3px 0;
}

.availableLinks {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*.availableLinkCancel {*/
/*    margin-bottom: 3.5rem;*/
/*}*/

.unwrap {
    margin-top: 3rem;
}

/*.changeAccountKeyPage title {*/
/*    margin: 0 0 1rem;*/
/*    font-size: 1.75rem;*/
/*}*/

.transactionSummary :is(a, small, .boldBlock){
    text-align: right;
}

.transactionSummary h1 {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: var(--font-weight-bolder);
    text-align: center;
    margin-bottom: 2rem;
}

.transactionSummary [cardclass="lineVertical"] > div {
    text-align: right;
}

.blockBold {
    font-weight: var(--font-weight-bolder);
    display: block;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.blockBold svg {
    margin-bottom: -0.4rem;
    margin-left: 1rem;
}