@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

:root {
  --green: #A0D468;
  --green-dark: #8FBF5B;
  --blue: #5D9CEC;
  --blue-dark: #2A87C4;
  --purple: #8067B7;
  --purple-dark: #6A50A7;
  --yellow: #FFCE54;
  --yellow-dark: #F6BB42;
  --orange: #FC6E51;
  --orange-dark: #E9573F;
  --red: #E74C3C;
  --red-dark: #E05967;
  --pink: #FA6A8E;
  --pink-dark: #FB3365;
  --brown: #BAA286;
  --brown-dark: #AA8E69;
  --gray: #BDC3C7;
  --gray-dark: #95A5A6;
  --slate: #656D78;
  --slate-dark: #434A54;
  --grayish-white: #F6F6F6;
  --white: #FFF;
  --black: #000;

  --font-normal: 16px;
  --font-small: 14px;
  --font-smaller: 13px;
  --font-big: 18px;
  --font-bigger: 20px;

  --shadow: 0 0 27px 0 rgba(0,0,0,.05), 0 0 14px 0 rgba(0,0,0,.05);
  --shadow-dark: 0 3px 6px rgba(126,126,126,.16), 0 3px 6px rgba(126,126,126,.23);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid #ccc;
  width: 400px;
  height: 550px;
  overflow: auto;
  margin: 0 auto;
  font: var(--font-normal) 'Lato', Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  background: var(--white);
  color: var(--slate-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--slate-dark);
}

a:hover {
  text-decoration: underline;
}
