@font-face {
  font-family: 'HCo Gotham';
  src:url('../assets/fonts/woff2/Gotham-Light_Web.woff2') format('woff2'),
  url('../assets/fonts/woff/Gotham-Light_Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HCo Gotham';
  src:url('../assets/fonts/woff2/Gotham-Book_Web.woff2') format('woff2'),
  url('../assets/fonts/woff/Gotham-Book_Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HCo Gotham';
  src:url('../assets/fonts/woff2/Gotham-Medium_Web.woff2') format('woff2'),
  url('../assets/fonts/woff/Gotham-Medium_Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HCo Gotham';
  src:url('../assets/fonts/woff2/Gotham-Bold_Web.woff2') format('woff2'),
  url('../assets/fonts/woff/Gotham-Bold_Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HCo Gotham';
  src:url('../assets/fonts/woff2/Gotham-Ultra_Web.woff2') format('woff2'),
  url('../assets/fonts/woff/Gotham-Ultra_Web.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  /* --------------- colors --------------- */
  --warning: #F3A838;
  --info: #1DA5DF;
  --primary: #FF414D;
  --success: #7987ff;

  --light: 255,255,255;
  --dark: 0,0,0;

  /*--warning-rgb: 243,168,56;*/
  /*--info-rgb: 29,165,223;*/
  /*--primary-rgb: 255, 65, 77;*/
  /*--success-rgb: 121,135,255;*/

  /* -------------------------------------- */
  
  --green: #8FBF5B;
  --green-dark: #5D9421;
  --blue-dark: #2A87C4;
  --purple: #A796D0;
  --purple-dark: #6A50A7;
  --yellow: #FFD683;
  --yellow-dark: #F6BB42;
  --orange-dark: #E9573F;
  --red-dark: #BD1F2E;
  --pink: #FC7798;
  --pink-dark: #FB3365;
  --brown: #AA8E69;
  --brown-dark: #816135;
  --gray: 189, 195, 199;
  --gray-dark: #8E9AA2;
  --slate: 48,48,48;
  --slate-dark: #434A54;
  --grayish-light: #F6F6F6;

  /* --------------- typography --------------- */

  --font-normal: 1rem;
  --font-small: .875rem;
  --font-smaller: 0.75rem;
  --font-smallest: .625rem;
  --font-big: 1.25rem;
  --font-bigger: 1.5rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* --------------- shadows ------------------- */

  --shadow-dark: 4px 4px 0 rgb(var(--dark));
  --shadow-dark-inverted: -4px -4px 0 rgb(var(--dark));
  --shadow-primary: 4px 4px 0 var(--primary);
  --shadow-primary-inverted: -4px -4px 0 var(--primary);

  /* --------------- spacing ------------------- */

  --spacer: .5rem;

  /* ------------------------------------------- */

}

body {
  box-sizing: border-box;
  /*max-height: 754px;*/
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: var(--font-normal) 'HCo Gotham', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  color: rgb(var(--dark));
  line-height: 1.4;
  padding: .75rem 1rem .25rem;
  background-color: rgb(var(--light));
}

/*body::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

:root[data-dark-mode] {
  --light: 0,0,0;
  --dark: 255,255,255;
}

:root[data-dark-mode] body {
  background-color: rgb(var(--slate));
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacer);
}

small {
  font-size: var(--font-small);
}

h1 {
  font-size: calc(var(--font-bigger)*1.4);
}

header h3 {
  font-size: var(--font-smaller);
  font-weight: var(--font-weight-bolder);
}

a {
  text-decoration: none;
  color: rgb(var(--dark));
  opacity: 1;
}

a:not:has(.button):hover {
  opacity: 0.7;
}

hr {
  border: 0;
  border-top: 1px solid rgb(var(--dark));
  background: none;
  height: 1px;
}

code {
  overflow-wrap: anywhere;
}

input,
textarea,
select,
checkbox,
button {
  font-family: inherit;
}

div[cardclass] {
  border-radius: 1rem;
  margin-inline: 0.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

div[cardclass] * {
  color: white;
}

div[cardclass] h2 {
  font-size: var(--font-normal);
  margin-top: 1.5rem;
}

div[cardclass="lineHorizontal"] {
  background: url(../../app/assets/subway-horizontal.svg) no-repeat,
  black;
  padding: 1rem 1.5rem 1.5rem 5rem;
}

div[cardclass="lineVertical"] {
  background: url(../../app/assets/subway-vertical.svg) no-repeat left -20% top 105%,
  black;
  padding: 1rem 1.5rem;
}

div[cardclass="lineVertical"] > div {
  padding-left: 4rem;
}

