.page > div {
    margin-bottom: 2.5rem;
}

h3 {
    text-align: left;
}

.accounts {
    list-style-type: none;
    padding: 0;
}

.accounts li {
    display: grid;
    grid-template-columns: 70% 1fr;
    align-items: end;
}

.accountLabel {
    text-align: left;
    border-bottom: 1px solid var(--dark);
}

.accountLabel small {
    display: block;
}

.accountActions {
    padding-bottom: .25rem;
}

.accountActions > * {
    margin-inline: .5rem;
}

.accountActions a:nth-of-type(2) {
    color: var(--warning);
}

.accountActions a:nth-of-type(3) {
    color: var(--primary);
}

a[class*="wide"] {
    margin-bottom: 1.25rem;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.inputLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    animation: fade-in 0.1s linear;
    animation-fill-mode: forwards;
}

.inputSpinner {
    min-height: 30px;
    min-width: 30px;
    animation: rotate 1.25s linear infinite;
    color: var(--gray-dark);
}
