.timer {
    position: relative;
    height: 30px;
    overflow: hidden;
    color: var(--dark);
    font-size: var(--font-small);
}

.blockTimer {
    position: absolute;
    left: 0;
    bottom: 5px;
}

.blockTimer > div {
    border: 1px solid var(--dark);
    background: var(--light);
    height: 10px;
    width: 10px;
    transition: all 250ms ease;
    display: inline-block;
    margin-right: 3px;
    box-sizing: border-box;
}

.blockTimer > div:nth-last-of-type(4n) {
    margin-left: 5px;
}

.blockTimer .activeBit {
    background-color: var(--dark);
}

.blockTimer svg {
    margin-left: 10px;
}

.dividend {
    color: var(--dark);
    cursor: help;
}

.dividend > div {
    border-color: var(--dark);
}

.dividend .activeBit {
    background-color: var(--dark);
}

.nextBlockTimer {
    position: absolute;
    right: 0;
    bottom: 5px;
    text-align: right;
}