section {
    font-size: inherit;
}

.aboutVersion h1 {
    text-align: center;
    margin-block: 0;
}

.aboutVersion {
    text-align: right;
}

.aboutLogo svg {
    width: 9rem;
    margin-block: 1rem;
    align-self: center;
}

.aboutDescription {
    margin: 1rem auto 2.5rem;
}

.aboutLinks {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .5rem;
}

.aboutLinks a {
    border-bottom: 1px solid transparent;
    padding: 0.05rem;
}

.aboutLinks a:hover,
.aboutLinks a:focus {
    opacity: 1;
    border-bottom: 1px solid var(--dark);
    padding: 0.05rem;
}

.aboutText {
    width: 100%;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow: auto;
    border: 1px solid var(--gray);
    text-align: justify;
}