.app {
    position: relative;
}

.aboutLogo {
    text-align: center;
    margin: 20px 0;
}

.aboutLogo svg {
    width: 100px;
    text-align: center;
}

.aboutDescription {
    font-size: var(--font-big);
    font-style: italic;
    text-align: center;
}

.aboutLinks {
    text-align: center;
    margin-top: 10px;
}

.aboutLinks a {
    display: inline-block;
    width: 30%;
}

.aboutVersion {
    text-align: right;
}

.aboutText {
    width: 100%;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow: auto;
    border: 1px solid var(--gray);
    text-align: justify;
}