.welcomePage {
    text-align: center;
    padding: 0 10px;
}

.logo {
    margin: 50px auto 50px auto;
}

.logo svg {
    width: 200px;
}

.logo h1 {
    margin-top: 0px;
}

.restore {
    margin-top: 50px;
    font-size: var(--font-smaller);
}

.newPasswordPage {
    text-align: center;
    padding: 0 10px;
}

.newPasswordPage header {
    margin-bottom: 50px;
}

.newPasswordPage form {
    margin-top: 60px;
}

.regulationsPage {
    text-align: center;
    padding: 0 10px;
}

.regulations {
    width: 328px;
    overflow: auto;
    height: 390px;
    text-align: justify;
    border: 1px solid var(--gray);
    padding: 10px 15px;
    margin-bottom: 20px;
    white-space: pre-line;
}

.seedPhrasePage {
    text-align: center;
    padding: 0 10px;
}

.seedPhrasePage header {
    margin-bottom: 50px;
}

.seedPhrasePage form {
    margin-top: 60px;
}

.seedPhrasePage .refresh {
    text-align: right;
    margin-bottom: 10px;
}

.seedPhrasePage textarea {
    font-weight: 700;
    margin-bottom: 40px;
    height: 83px;
}

.buttons {
    margin-top: 40px;
}

.buttons a:first-of-type {
    margin-right: 50px;
}
