.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding-top: 0.75rem;
}

.page > *:not(header, footer) {
    flex: 1 1 auto;
}

.page > a {
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid var(--dark);
    padding: 0.25rem;
}

.errorClass {
    position: sticky !important;
    top: 0;
}

.hideScroll {
    max-height: 580px;
    overflow: hidden;
}

.spacingDiv {
    height: 1rem;
}




