.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 0 15px;
    position: relative;
    z-index: 999;
    background: var(--white);
}

.header > h1 {
    font-size: 1.3em;
    line-height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 275px;
}

.smallHeader > h1 {
    font-size: 1em;
}

.logo {
    height: 40px;
}

.close {
    width: 32px;
    margin-left: 8px;
}

.contentWrapper {
    padding: 15px;
    text-align: left;
    overflow: auto;
    position: relative;
    z-index: 99;
}

.withScroll {
    margin: 15px;
    padding: 0;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 460px;
}

.footer {
    height: 30px;
    margin: 0px 15px;
    background: var(--white);
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
}