.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 0 15px;
    position: relative;
    z-index: 999;
    background: var(--white);
}

.header > h1 {
    font-size: 1.3em;
    line-height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 275px;
    text-align: center;
}

.header > h1 small {
    display: block;
    font-size: 0.65em;
    line-height: 1.2em;
    font-style: italic;
    font-weight: 700;
}

.smallHeader > h1 {
    font-size: 1em;
}

.logo img {
    height: 40px;
}
.logo a {
    display: inline-block;
}

.logo span {
    display: block;
    font-size: var(--font-smallest);
    font-weight: 700;
    color: var(--orange-dark);
    position: absolute;
    bottom: -2px;
    left: 12px;
}

.close {
    width: 32px;
    margin-left: 8px;
}

.contentWrapper {
    text-align: left;
    position: relative;
    z-index: 99;
    margin: 15px;
    margin-right: 5px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 460px;
}

.withScroll {
    overflow-y: scroll;
}

.footer {
    height: 30px;
    margin: 0px 15px;
    background: var(--white);
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
}