<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        html, body {
            margin: 0 auto;
            padding: 0;
        }
        body {
            width: 526px;
            min-height: 600px;
        }
        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
        .window-spinner {
            height: 60px !important;
            width: 60px !important;
            animation: rotate 1.25s linear infinite;
            color: #8E9AA2;
            display: block;
            margin: 115px auto;
        }
    </style>
</head>
<body>
    <div id="root"></div>
    <script src="{{{ host }}}/js/adswallet.bundle.js"></script>
</body>
</html>