doctype html

html
  head
    meta(charset='UTF-8')
    title ADS Wallet Plugin
    style.
      html, body {
        margin: 0 auto;
        padding: 0;
      }
      body {
        width: 420px;
        min-height: 300px;
      }
      @keyframes rotate {
        to {
          transform: rotate(360deg);
        }
      }
      .window-spinner {
        height: 60px !important;
        width: 60px !important;
        animation: rotate 1.25s linear infinite;
        color: #8E9AA2;
        display: block;
        margin: 115px auto;
      }

  body
    #root
    script(src=env == 'prod' ? '/js/adswallet.bundle.js' : 'http://localhost:3000/js/adswallet.bundle.js')
