.page > a {
    margin-bottom: 10px;
}

/*.configure > svg {*/
/*    width: 200px;*/
/*    margin-top: -160px;*/
/*    margin-bottom: 30px;*/
/*}*/

.boxConfigure {
    margin: 4rem auto 9rem;
}

.btnFreeAccountconfigure {
    margin-bottom: 1.5rem;
}

.helpLinks {
    margin-top: 20px;
    font-size: var(--font-smaller);
}

.box {
    margin-top: 0px;
    margin-bottom: 10px !important;
    box-shadow: 5px 5px 15px rgba(0,0,0,.2);
}

.box > div {
    position: relative;
}

.logo {
    width: 75px;
}

.balance {
    text-align: right;
    font-size: 2rem;
    font-weight: var(--font-weight-bolder);
    margin-top: 1em;
}

.currency {
    text-align: right;
    font-size: var(--font-small);
    line-height: 2;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.details > span {
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    font-weight: var(--font-weight-bolder);
}

.details a {
    color: inherit;
    font-size: var(--font-small);
    font-weight: var(--font-weight-light);
    display: inline-block;
    transition: all 250ms ease;
    cursor: pointer;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--light);
}

.details a:hover, .details a:focus {
    border-bottom: 1px solid var(--primary);
}

.shortcuts {
    margin-top: 30px;
}

.shortcuts > a {
    margin-top: 10px;
    font-size: var(--font-normal);
}

.darkCard h5 {
    font-size: var(--font-small);
    margin-block: 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons .secondary {
    margin-inline: 0;
    width: 11rem;
}
