.logo svg {
    width: 12rem;
    height: 12rem;
}

h2 {
    margin-block: 1rem;
}

.links {
    margin-block: 1.5rem;
    font-size: var(--font-small);
    font-weight: var(--font-weight-light);
}

.links a {
    display: block;
    margin-bottom: .5rem;
    text-decoration: underline;
}

.invisible {
    visibility: hidden;
}

