.welcomePage .about {
    white-space: pre-wrap;
}

.welcomePage > * {
    margin-inline: auto;
}

.welcomePage .links {
    margin-top: 20px;
    font-size: var(--font-small);
    font-weight: var(--font-weight-light);
}

.welcomePage .links a:hover {
    opacity: 0.7;
}

.welcomePage header h1,
.newPasswordPage header h1,
.termsPage header h1,
.seedPhrasePage header h1 {
    margin: 3.2rem 0 2.5rem;
}

.newPasswordPage .inputs {
    margin-inline: 1rem;
    margin-bottom: 3.5rem;
}

.newPasswordPage input {
    margin-bottom: 1.5rem;
}

.termsPage h1 {
    margin-bottom: 1em;
}

.terms {
    font-size: var(--font-small);
    width: 90%;
    height: 350px;
    margin-inline: auto;
    overflow-y: auto;
    text-align: justify;
    border: 1px solid var(--dark);
    box-shadow: var(--shadow-dark);
    padding: 0.5rem;
    margin-bottom: 20px;
    white-space: pre-line;
}

.terms::-webkit-scrollbar,
.terms::-webkit-scrollbar-button:decrement,
.terms::-webkit-scrollbar-button:increment {
    border-color: rgba(0,0,0, 0.4);
    border-width: 2px;
}

.terms::-webkit-scrollbar {
    border-left-style: solid;
    width: 1.2rem;
}

.terms::-webkit-scrollbar-thumb {
    height: 2.5rem;
    background-color: black;
}

.terms::-webkit-scrollbar-track {
    padding-inline: 3px;
}

.terms::-webkit-scrollbar-button:decrement,
.terms::-webkit-scrollbar-button:increment {
    border-left: 1px solid rgba(0,0,0, 0.4);
    height: 1.3rem;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-position: center;
}

.terms::-webkit-scrollbar-button:decrement {
    border-bottom-style: solid;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z'/></svg>");
}

.terms::-webkit-scrollbar-button:increment {
    border-top-style: solid;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/></svg>");
}

.seedPhrasePage form {
    padding-top: 4rem;
}

.seedPhrasePage .refresh {
    text-align: right;
    margin-bottom: 10px;
}

.seedPhrasePage textarea {
    font-weight: var(--font-weight-bold);
    height: 7rem;
    line-height: 1.5;
}

/*.seedPhrasePage textarea::-webkit-resizer {*/
/*    background: red;*/
/*    margin: 10px;*/
/*    border-style: solid;*/
/*    border-width: 200px;*/
/*    border-top-color: white;*/
/*    border-left-color: white;*/
/*    border-right-color: black;*/
/*    border-bottom-color: black;*/
/*    outline-right-color: 5px solid white;*/
/*    bottom: 20px;*/
/*    right: 20px;*/
/*    width: 5rem;*/
/*    height: 5rem;*/
/*    box-shadow: 1px 1px white;*/
/*}*/

.seedPhrasePage .underlined {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid currentColor;
    padding-bottom: 1px;
    padding-inline: 0;
    margin-right: 0.25em;
    font-size: var(--font-small);
    cursor: pointer;
}

.seedPhrasePage .underlined:hover {
    opacity: 0.7;
}
