.welcomePage {
    text-align: center;
    padding: 15px;
}

.logo {
    margin: 20px auto 29px auto;
}

.logo svg {
    width: 200px;
}

.logo h1 {
    margin-top: -25px;
}

.logo h3 {
    color: var(--orange-dark);
    margin: 15px 0;
    line-height: 22px;
}

.links {
    margin-top: 20px;
    font-size: var(--font-smaller);
}

.mainnetLink {
    color: var(--orange-dark);
}

.newPasswordPage {
    text-align: center;
    padding: 15px;
}

.newPasswordPage header {
    margin-bottom: 89px;
}

.newPasswordPage h1 {
    margin: 20px 0;
}

.newPasswordPage h3 {
    color: var(--orange-dark);
    margin: 15px 0;
    line-height: 22px;
}

.newPasswordPage form {
    margin-top: 60px;
}

.regulationsPage {
    text-align: center;
    padding: 15px;
}

.regulationsPage h1 {
    margin: 20px 0;
}

.regulationsPage h3 {
    color: var(--orange-dark);
    margin: 15px 0;
    line-height: 22px;
}

.regulations {
    width: 338px;
    overflow: auto;
    height: 300px;
    text-align: justify;
    border: 1px solid var(--gray);
    padding: 10px 15px;
    margin-bottom: 20px;
    white-space: pre-line;
}

.seedPhrasePage {
    text-align: center;
    padding: 15px;
}

.seedPhrasePage header {
    margin-bottom: 34px;
}

.seedPhrasePage h1 {
    margin: 20px 0;
}

.seedPhrasePage h3 {
    color: var(--orange-dark);
    margin: 15px 0;
    line-height: 22px;
}

.seedPhrasePage form {
    margin-top: 30px;
}

.seedPhrasePage .refresh {
    text-align: right;
    margin-bottom: 10px;
}

.seedPhrasePage textarea {
    font-weight: 700;
    height: 83px;
}

.buttons {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.buttons a:first-of-type {
    margin-right: 50px;
}

.dangerContent input, .dangerContent textarea {
    border-color: var(--red-dark);
    color: var(--red-dark);
}
