.page {
    text-align: center;
    padding: 0 1rem;
}

.page header {
    margin-bottom: 1rem;
}

.page h1 {
    margin: 1rem 0;
}

.page h3 {
    color: var(--orange-dark);
}

.page > div {
    margin-bottom: 25px;
}

.page .buttons {
    margin-top: 40px;
}

.page .cancel {
    margin-right: 50px;
}
