.hamburgerWrapper {
    height: 25px;
    width: 30px;
}

.headerLogo {
    height: 40px;
}

/* HAMBURGER BUTTON ANIMATION */

.iconButton {
    background: transparent;
    position: relative;
    height: 30px;
    width: 30px;
}

.iconButton:focus {
    outline-color: var(--blue);
}

.iconButton:before,
.iconButton:after {
    background: var(--blue);
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px;
}

.iconButton:before {
    box-shadow: var(--blue) 0 14px 0 0;
    position: absolute;
    top: 3px;
}
.iconButton:after {
    position: absolute;
    top: calc(100% - 20px);
}

.iconButtonActive.iconButton:before {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
}

.iconButtonActive.iconButton:after {
    top: 50%;
    transform: rotate(315deg);
}

/* MENU + MENU ANIMATION */

.menu {
    display: block;
    margin: 20px auto;
    width: 30%;
    background-color: var(--white);
    padding: 15px;
    opacity: 0;
    transition: all ease-in 0.5s;
    transform: translateY(-200%);
    min-width: 200px;
    border-radius: 3px;
    list-style: none;
    position: absolute;
    right: 0;
    z-index: 999;
    box-shadow: 0 3px 6px rgba(126,126,126,0.16), 0 3px 6px rgba(126,126,126,0.23);
}

.menuActive {
    opacity: 1;
    transition: all ease-in 0.5s;
    transform: translateY(0%);
}

.menuItem {
    padding: 8px 16px;
    color: var(--slate-dark);
    list-style: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid transparent;
}

.menuItem:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin-top: 8px;
    background: var(--blue);
    transition: width .3s ease-out;
}

.menuItem:hover,
.menuItem:focus {
    text-decoration: none;
    outline: none;
}

.menuItem:hover:after,
.menuItem:focus:after {
    width: 100%;
}
