/* HAMBURGER BUTTON ANIMATION */

.iconButton {
    background: transparent;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.iconButton:focus {
    outline: none;
}

.iconButton:before,
.iconButton:after {
    background: rgb(var(--dark));
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px;
}

.iconButton:before {
    box-shadow: rgb(var(--dark)) 0 14px 0 0;
    position: absolute;
    top: 3px;
}
.iconButton:after {
    position: absolute;
    top: calc(100% - 20px);
}

.iconButtonActive.iconButton:before {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
}

.iconButtonActive.iconButton:after {
    top: 50%;
    transform: rotate(315deg);
}

/* MENU + MENU ANIMATION */

.menu {
    position: absolute;
    top: -1rem;
    right: -1rem;
    margin-left: auto;
    box-shadow: -2px 2px 8px rgb(var(--dark),0.2);
    background-color: rgb(var(--light));
    z-index: 1;
    padding: 4rem 4rem 1rem 1.5rem;
    font-size: var(--font-small);
    transform: translateY(-150%);
    transition: all 500ms ease-in;
}

:root[data-dark-mode] .menu {
    background-color: rgb(var(--slate));
    box-shadow: -2px 2px 2px rgb(var(--gray),0.2);
}

.menu.menuActive {
    transform: translateY(0%);
}

.hamburgerWrapper {
    padding-top: .5rem;
    z-index: 2;
}

.menu ul {
    padding: 0;
    list-style: none;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    text-align: left;
    cursor: pointer;
}

.menuItem svg {
    padding-bottom: 0.25rem;
    height: 1.25rem;
}

.menuItemLink {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
}

.menuItemLink:hover {
    border-bottom: 1px solid rgb(var(--dark));
}
