.select {
    width: 180px;
    background: var(--white);
    border: 1px solid var(--blue-dark);
    text-transform: uppercase;
    transition: width 0.5s;
    will-change: width;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20px;
}

.option {
    padding: 8px 16px;
    cursor: pointer;
    background-color: var(--white);
}

.option:not(.optionActive):hover {
    background: var(--gray);
}

.optionActive {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
