@keyframes logoMark {
    0% {
        opacity: 0;
        scale: 0.7;
    }
    100% {
        scale: 1;
    }
}

@keyframes logoType {
    0% {
        opacity: 0;
        transform: translateY(2%);
    }

    100% {
        transform: translateY(-3%);
    }

}

.logo {
    padding-block: 1rem;
}

.logoMark {
    fill: var(--primary);
    animation: logoMark 500ms ease-in-out 190ms;
    transform-origin: center;
    scale: 0.9;
}

.logoType {
    fill: var(--dark);
    animation: logoType 800ms ease;
    transform-origin: bottom center;
}