{
  "name": "{{{ name }}}",
  "version": "{{{ version }}}",
  "description": "{{{ description }}}",
  "author": "{{{ author }}}",
  "permissions": [
    "storage",
    "unlimitedStorage"
  ],
  "content_security_policy": "{{{ csp }}}",
  "applications": {
    "gecko": {
      "id": "{{{ geckoId }}}"
    }
  },
  "background": {
    "page": "background.html"
  },
  "browser_action": {
    "default_title": "ADS Wallet",
    "default_popup": "popup.html"
  },
  "icons": {
    "16": "icon-16.png",
    "32": "icon-32.png",
    "48": "icon-48.png",
    "64": "icon-64.png",
    "128": "icon-128.png"
  },
  "web_accessible_resources": [
    "proxy.html"
  ],
  "manifest_version": 2
}
