.box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 88%;
    margin-bottom: 3rem;
    margin-inline: auto;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    gap: 1.3rem;
}

.box a {
    color: var(--light)
}

.box hr {
    border-color: var(--light);
}

.box.info {
    color: var(--info);
}

.box.success {
    background-color: var(--green-dark);
}

.box.warning {
    color: var(--warning);
}

.box.danger {
    background-color: var(--primary);
    color: var(--light);
}

.box.inverse {
    border: 1px solid var(--slate-dark);
    color: var(--slate-dark);
    background-color: var(--light);
}

.box.inverse a {
    color: inherit;
}

.box.inverse hr {
    border-color: var(--slate-dark);
}

.box.inverse > .icon {
    background-color: transparent;
}

.box.inverse.info {
    border-color: var(--blue-dark);
    color: var(--blue-dark);
}

.box.inverse.info hr {
    border-color: var(--blue-dark);
}

.box.inverse.success {
    border-color: var(--green-dark);
    color: var(--green-dark);
}

.box.inverse.success hr {
    border-color: var(--green-dark);
}

.box.inverse.warning {
    border-color: var(--yellow-dark);
    color: var(--yellow-dark);
}

.box.inverse.warning hr {
    border-color: var(--yellow-dark);
}

.box.inverse.danger {
    border-color: var(--red-dark);
    color: var(--red-dark);
}

.box.inverse.danger hr {
    border-color: var(--red-dark);
}

.box .content {
    margin: 0;
    line-height: 24px;
    overflow-wrap: break-word;
}

.box.large > .content {
     opacity: 0.8;
 }

.box > h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    line-height: 24px;
}

.box > .icon {
    --icon-size: 1.75rem;

    height: calc(var(--icon-size)*1.1);
    aspect-ratio: 1;
    background-color: currentColor;
    box-shadow: var(--shadow-dark);
    display: grid;
    place-items: center;
}

.box > .icon span {
    text-align: center;
    font-size: var(--icon-size);
    color: var(--light);
    font-weight: var(--font-weight-bold);
}
