.buttons {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    display: flex;
}

.buttons > *:first-child {
    margin-left: auto;
    margin-right: 1rem;
}

.buttons > *:last-child {
    margin-left: 1rem;
    margin-right: auto;
}
