.buttons {
    display: flex;
    margin-block: 3rem;
    /*margin-top: 2rem;*/
    /*margin-bottom: 3rem;*/
}

.buttons > *:first-child {
    margin-left: auto;
    margin-right: 1rem;
}

.buttons > *:last-child {
    margin-left: 1rem;
    margin-right: auto;
}
