.buttons {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    display: flex;
    /*justify-content: center;*/
    /*gap: 2rem;*/
}

.buttons > *:first-child {
    margin-left: auto;
    margin-right: 0;
}

.buttons > *:last-child {
    margin-left: 0;
    margin-right: auto;
}
