.button {
    height: 45px;
    line-height: 42px;
    padding: 0 20px;
    font-size: var(--font-small);
    display: inline-block;
    text-align: center;
    transition: all 250ms ease;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    color: var(--white);
    background: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    text-decoration: none;
    vertical-align: middle;
}

.button.success {
    background-color: var(--green-dark);
    border-color: var(--green-dark);
}

.button.warning {
    background-color: var(--yellow-dark);
    border-color: var(--yellow-dark);
}

.button.danger {
    background-color: var(--red-dark);
    border-color: var(--red-dark);
}

.button.inverse {
    background-color: var(--white);
    color: var(--blue-dark);
}

.button.inverse.success {
    color: var(--green-dark);
}

.button.inverse.warning {
    color: var(--yellow-dark);
}

.button.inverse.danger {
    color: var(--red-dark);
}

.button.small {
    font-size: var(--font-smaller);
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
}

.button:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    text-decoration: none;
}

.button.success:hover {
    background-color: var(--green);
    border-color: var(--green);
}

.button.warning:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.button.danger:hover {
    background-color: var(--red);
    border-color: var(--red);
}

.button.inverse:hover {
    color: var(--white);
}

.button.icon-left {
    padding-left: 10px;
}

.button.icon-right {
    padding-right: 10px;
}

.button.icon-left svg {
    margin-right: 5px;
}

.button.icon-right svg {
    margin-left: 5px;
}