.container {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-normal);
}

.checkbox {
    /*position: absolute;*/
    /*opacity: 0;*/
    /*width: auto !important;*/
    /*height: 20px !important;*/
}

/*.checkbox label {*/
/*    padding-left: 0;*/
/*}*/

.checkbox:checked + .checked svg path {
    stroke-dashoffset: 0;
}

.checkbox:focus + .checked {
    border-width: 1px;
}

.checkbox:checked + .checked svg path:focus + .checked {
    transform: scale(1.03);
}

.checkbox +.checked {
    display: block;
    border: 1px solid var(--dark);
    background-color: var(--dark);
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all .2s ease;
}

.checkbox + .checked:active {
    transform: scale(1.05);
}

.checkedSvg {
    pointer-events: none;
}

.checkedSvg path {
    fill: none;
    stroke: var(--light);
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 350ms cubic-bezier(1, 0, .37, .91);
}

input[type="checkbox" i] {
    height: 1rem;
    aspect-ratio: 1;
    margin-right: .75rem;
    border-radius: 0;
    box-shadow: inset 1px -1px, inset -1px 1px;
}
