.form > div {
    margin-bottom: 15px;
    text-align: left;
}

.form input, .form textarea, .form select {
    background-color: var(--light);
    font-size: var(--font-small);
    transition: all 250ms ease;
    border: 1px solid var(--dark);
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    outline: 0;
    box-shadow: var(--shadow-dark);
    margin-block: 0.3rem;
}

.form input:focus, .form textarea:focus, .form select:focus {
    border: 4px solid var(--info);
}

.form label {
    padding: 0 0 .5em 1em;
    font-weight: var(--font-weight-light);
    font-size: var(--font-small);
}

.form input {
    line-height: 2rem;
    text-indent: 0.5em;
    height: 50px;
}

.form textarea {
    padding: 0.8rem 0.6rem;
}

.form select {
    line-height: 30px;
    text-indent: 5px;
    height: 30px;
}

form input[readonly], .form textarea[readonly], .form select[readonly] {
    background-color: var(--light);
}