.form > div {
    margin-bottom: 15px;
}

.form input, .form textarea {
    background-color: var(--white);
    font-size: var(--font-small);
    transition: all 250ms ease;
    border: 1px solid var(--gray-dark);
    border-radius: 3px !important;
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: 0;
}

.form input:focus, .form textarea:focus {
    border-color: var(--blue-dark);
}

.form input {
    line-height: 50px;
    text-indent: 15px;
    height: 50px;
}

.form textarea {
    padding: 15px;
}