.form,
.form > div {
    text-align: left;
    max-width: 99%;
    margin-inline: auto;
}

.form :is(input:not(input[type='checkbox']), textarea, select) {
    font-size: var(--font-normal);
    transition: all 250ms ease;
    border: 1px solid black;
    display: inline-block;
    width: 96%;
    outline: 0;
    box-shadow: var(--shadow-dark);
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: white;
    color: black;
}

.darkMode .form input {
    background-color: pink;
    color: green;
    border: 1px solid red;
}
.form :is(input:not(input[type='checkbox']), textarea, select):focus {
    border: 2px solid var(--success);
}

.form label:not:has(input[type='checkbox']) {
    display: block;
}
.form label {
    line-height: 1.75;
    padding-left: 0.75rem;
    font-weight: var(--font-weight-light);
    font-size: var(--font-small);
}

.form textarea {
    margin-bottom: .5rem;
}

.form input:not(input[type='checkbox']) {
    height: 2rem;
}

.form select {
    line-height: 30px;
    text-indent: 5px;
    height: 30px;
}

.form :is(input[readonly], textarea[readonly], select[readonly]) {
    background-color: white;
}

form textarea::-webkit-resizer {
    background: red;
    margin: 10px;
    border-style: solid;
    border-width: 200px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: black;
    outline-right-color: 5px solid white;
    bottom: 20px;
    right: 20px;
    width: 5rem;
    height: 5rem;
    box-shadow: 1px 1px white;
}
