.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.logo {
    text-align: left;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: var(--font-smaller);
    font-weight: var(--font-weight-bolder);
    display: block;
    margin-top: -0.25rem;
}

.title {
    margin: 0;
    font-size: 1.75rem;
    /*line-height: 1.05;*/
    max-width: 18rem;
}

.close {
    width: 32px;
    margin-left: 8px;
}
