.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: var(--font-smaller);
    font-weight: var(--font-weight-bolder);
    display: inline-block;
    vertical-align: bottom;
    padding: 0 0 0.5rem 0.5rem;
}

.close {
    width: 32px;
    margin-left: 8px;
}
