.header {
    position: relative;
    padding: 0 1rem;
}

.logo {
    text-align: left;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: var(--font-smaller);
    font-weight: var(--font-weight-bolder);
    display: block;
    margin-top: -0.25rem;
}

.close {
    width: 32px;
    margin-left: 8px;
}
