/*.inputWrapper {*/
/*    margin: 25px 0;*/
/*}*/

/*.inputWrapper:not(:first-of-type) {*/
/*    margin-top: 30px;*/
/*}*/

.invalid input, .invalid textarea {
    border-color: var(--primary);
}

/*.input:focus + .label,*/
/*.input:not(:placeholder-shown) + .label,*/
/*.input:read-only + .label {*/
/*    font-size: 90%;*/
/*    transform: translate3d(0, -100%, 0);*/
/*    opacity: 1;*/
/*}*/


textarea.input {
    text-indent: 0;
    max-height: 200px;
}
