.loader {
    position: absolute;
    inset: 0;
    height: 100%;
    display: grid;
    place-items: center;
    opacity: 0;
    z-index: 100000;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.7);
    animation: fade-in 0.1s linear;
    animation-fill-mode: forwards;
}

.spinner {
    width: 4rem;
}

.spinnerOuterCircle {
    stroke-dasharray: 188.19;
    stroke-dashoffset: 188.19;
    animation: draw 2000ms ease-in-out infinite;
}

.spinnerInnerCircle {
    stroke-dasharray: 137.34;
    stroke-dashoffset: 137.34;
    animation: draw 1400ms normal infinite;
}

.spinnerMiddle {
    r: 0;
    transition: r 1200ms ease-in;
    animation: grow 1200ms normal infinite;
}

@keyframes draw  {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes grow {
    to {
        r: 13;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}