@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.7);
    animation: fade-in 0.1s linear;
    animation-fill-mode: forwards;
}

.spinner {
    min-height: 60px;
    min-width: 60px;
    animation: rotate 1.25s linear infinite;
    color: var(--gray-dark);
}
