.select {
    margin: 1.25rem auto 1.5rem;
}

.optionName {
    font-size: var(--font-big);
    margin-bottom: .1em;
}

.selectActive {
    box-shadow: rgb(var(--dark));
}

.scrollableList {
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.optionList {
    padding: 0;
    margin: 0;
    transform: translateY(-64px);
    transition: transform 0.2s linear;
}

.optionListActive {
    transform: translateY(0);
}

.option {
    cursor: pointer;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*background-color: rgb(var(--light));*/
    padding: 8px 0;
    list-style: none;
    text-transform: capitalize;
    border-top: 1px dashed rgb(var(--dark));
    line-height: 1.2;
}

.option:focus,
.optionLink:focus {
    outline: none;
    /*background: rgb(var(--light));*/
}

.option:not(.optionActive):hover {
    /*background: rgb(var(--light));*/
}

.optionActive {
    margin: 0;
    border: 0;
    /*padding-bottom: 4px;*/
    display: flex;
    position: relative;
    justify-content: center;
    /*background: rgb(var(--light)) !important;*/
}

.optionAccount svg {
    font-size: var(--font-small);
    margin-left: 0.75rem;
}

.optionAdd {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(var(--dark));
}

.optionLink {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: none;
}

.optionLink:hover {
    text-decoration: none;
}
