.dark {
    fill: rgb(var(--dark));
    stroke: rgb(var(--dark));
}

:root[data-dark-mode] .button.secondary .dark {
    fill: black;
    stroke: black;
}

.light {
    fill: white;
    stroke: white;
}

.primary {
    fill: var(--primary);
    stroke: var(--primary);
}

.warning {
    fill: var(--warning);
    stroke: var(--warning);
}

.info {
    fill: var(--info);
    stroke: var(--info);
}

.rotate {
    rotate: 180deg;
}